# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# OS / Editors
.DS_Store
.vscode/
.idea/
